version: '3.8'

services:
  front:
    build:
      dockerfile: Dockerfile.front
    volumes:
      - ./front:/app
    ports:
      - "8000"
    tty: true
    environment:
      NODE_ENV: development

  api:
    build:
      dockerfile: Dockerfile.api
    volumes:
      - ./back:/app
    ports:
      - "3000"
    depends_on:
      - db
    tty: true
    environment:
      POSTGRES_DB: gakusai
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST: db
      TZ: "Asia/Tokyo"
      GOOGLE_APPLICATION_CREDENTIALS: "/app/back/firebase-secretkey.json"

  db:
    image: postgres:14
    ports:
      - 5432:5432
    volumes:
      - postgres_volume:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: gakusai
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST: db
      TZ: "Asia/Tokyo"
      POSTGRES_HOST_AUTH_METHOD: trust

volumes:
  postgres_volume:



